<div>
    <div class="header">Users</div>
    
    <div class="body">
        <div class="card">
            <div class="card-header">Device Types</div>
            <div class="canvas-holder">
                <canvas id="deviceTypes"></canvas>
            </div>
        </div>

        <div class="card">
            <div class="card-header">Screen Sizes</div>
            <div class="canvas-holder">
                <canvas id="screenSizes"></canvas>
            </div>
        </div>

        <div class="card">
            <div class="card-header">Power Users</div>
            <div class="canvas-holder">
                <canvas id="powerUsers"></canvas>
            </div>
        </div>
    </div>
</div>