.card{
    margin: 1%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 29%;
    height: 300px;
    display: inline-block;
    text-align: center;
}

.card-header{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .card-body{
    display: flex;
    justify-content: space-between;
  }
  
  .canvas-holder{
    width: 80%;
    height: 80%;
    margin: auto;
  }