<div>
    <div class="header">
        <span class="page-header">Analytics Dashboard</span>
    </div>
    
    <div class="body">
        <div class="card" (click)="openPages()">
            <div class="card-header">Pages</div>
            <div class="canvas-holder">
                <canvas id="pages"></canvas>
            </div>
        </div>

        <div class="card" (click)="openUsers()">
            <div class="card-header">Users</div>
            <div class="canvas-holder">
                <canvas id="users"></canvas>
            </div>
        </div>

        <div class="card" (click)="openErrors()">
            <div class="card-header">Errors</div>
            <div class="canvas-holder">
                <canvas id="errors"></canvas>
            </div>
        </div>

        <div class="card-full">
            <div class="card-header">Suggestions</div>
            <div>
                <span>Recurring Error: </span><span style="color: #DC3545;">Stack Overflow</span><span> - Frequent on </span><span style="color: #005489;">340B Monitor</span><br>
                <span>Slow running page: </span><span style="color: #DC3545;">Order Builder</span><br>
                <span>Unusual Activity: </span><span style="color: #DC3545;">John Doe</span>
            </div>
        </div>
    </div>
</div>