<div>
    <div class="body">
        <div style="width: 100%; text-align: center;">
            <div class="card-full" style="width: 700px; margin: auto; height: 200px;">
                <div class="card-header">Alerts!</div>
                <div>
                    <div class="card-full error-item-center" style="margin: 0; width: 500px;" (click)="openErrors()">Recurring Error: Stack Overflow - Frequent on 340B Monitor</div><br>
                    <div class="card-full app-change-step" style="margin: 0; width: 500px;" (click)="openUsers()">Browser Usage: Users at ASPIRUS LANGLADE using IE 11</div>
                    <div class="card-full click-step" style="margin: 0; width: 500px;" (click)="openPages()">Slow Running Page: Purchase Detail</div><br>
                    <div class="card-full app-change-step" style="margin: 0; width: 500px;" (click)="openUsers()">Unusual Activity: John Doe</div>
                </div>
            </div>
        </div>

        <div class="card" (click)="openPages()">
            <div class="card-header">Pages</div>
            <div *ngIf="loading1" class="loading-holder">
                <div class="lds-facebook"><div></div><div></div><div></div></div>
            </div>
            <div class="canvas-holder">
                <canvas id="pages"></canvas>
            </div>
        </div>

        <div class="card" (click)="openUsers()">
            <div class="card-header">Users</div>
            <div *ngIf="loading2" class="loading-holder">
                <div class="lds-facebook"><div></div><div></div><div></div></div>
            </div>
            <div class="canvas-holder">
                <canvas id="users"></canvas>
            </div>
        </div>

        <div class="card" (click)="openErrors()">
            <div class="card-header">Errors</div>
            <div *ngIf="loading3" class="loading-holder">
                <div class="lds-facebook"><div></div><div></div><div></div></div>
            </div>
            <div class="canvas-holder">
                <canvas id="errors"></canvas>
            </div>
        </div>
    </div>
</div>