<main>
  <div class="header">
      <img style="width: 85%; display: inline-block;" src="./assets/MH-ByMcK_logo_Blk-Blue.png" (click)="goHome()">
      <mat-icon *ngIf="!showMenu" style="height: 48px; line-height: 48px;" (click)="toggleMenu()">expand_more</mat-icon>
      <mat-icon *ngIf="showMenu" style="height: 48px; line-height: 48px;" (click)="toggleMenu()">expand_less</mat-icon>
      <div *ngIf="showMenu">
        <div class="menu-item" (click)="goHome()">Home</div>
        <div class="menu-item" (click)="openPages()">Pages</div>
        <div class="menu-item" (click)="openUsers()">Users</div>
        <div class="menu-item" (click)="openErrors()">Errors</div>
      </div>
  </div>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
