<div>
    <div class="header">
        <mat-icon class="back-button" (click)="back()">arrow_back</mat-icon>
        <span class="page-header">Error Detail</span>
    </div>
    
    <div class="body">
        <div class="card-full" style="text-align: left;">
            <div class="card-header">{{currentError.method}}</div>
            <div>{{currentError.pageName == '/' ? '': currentError.pageName}}</div>
            <div>Device Info: {{currentError.os + ' - ' + currentError.browser}}</div>
            <div>User Info: {{currentError.userID + ' ' + currentError.city + ', ' + currentError.state}}</div>
            <div>{{currentError.timeStamp}}</div>
            <div>{{currentError.errorMessage}}</div><br>
            <div>Stack Trace:</div>
            <div [innerHTML]="extractFromJson(currentError.stack)"></div><br>
        </div>
    </div>
</div>