<div>
    <div class="header">
        <mat-icon class="back-button" (click)="back()">arrow_back</mat-icon>
        <span class="page-header">Error Detail</span>
    </div>
    
    <div class="body">
        <div class="card-full">
            <div class="card-header">{{currentError.method}}</div>
            <div>{{currentError.pageName == '/' ? '': currentError.pageName}}</div><br>
            <div>Device Info: {{currentError.os + ' - ' + currentError.browser}}</div><br>
            <div>User Info: {{currentError.userID + ' in ' + currentError.city + ', ' + currentError.state}}</div><br>
            <div>{{currentError.timeStamp}}</div><br>
            <div>{{currentError.errorMessage}}</div><br>
            <div>{{currentError.stack}}</div><br>
        </div>
    </div>
</div>