<div>
    <div class="body">
        <div class="card-tall">
            <div class="card-header">Recent Errors</div>
            <div *ngIf="loadingErrors" class="loading-holder">
                <div class="lds-facebook"><div></div><div></div><div></div></div>
            </div>
            <div *ngIf="!loadingErrors">
                <div *ngIf="userErrors.length === 0">No Errors Found</div>
                <div *ngFor="let error of userErrors">
                    <div class="card-full error-item" (click)="openError(error)">
                        <div style="margin-bottom: 8px;">{{ error.timeStamp + ' ' + (error.pageName === '/' || error.pageName.includes('jolokia') ? '': error.pageName) }}</div>
                        <div style="word-break: break-all;">{{ error.errorMessage }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-tall-hover">
            <div class="card-header" (click)="openRecentActivity();">
                Recent Activity
                <mat-icon (click)="toggleMenu(); $event.stopPropagation();" class="menu-icon">more_vert</mat-icon>
                <div *ngIf="showMenu" class="mini-menu">
                    <div class="mini-menu-item" (click)="openComparison(); $event.stopPropagation();">Compare</div>
                    <div class="mini-menu-item" (click)="$event.stopPropagation();">Export</div>
                </div>
            </div>
            <div *ngIf="loadingActivity" class="loading-holder">
                <div class="lds-facebook"><div></div><div></div><div></div></div>
            </div>
            <div *ngIf="!loadingActivity">
                <div *ngIf="userActivityList.length === 0">No Recent Activity</div>
                <mat-vertical-stepper [linear]="false" #stepper>
                    <mat-step *ngFor="let activity of userActivityList">
                        <mat-expansion-panel *ngIf="activity.action === 'ASP_PAGE_LOAD'" class="card-full page-load-step" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{ activity.timeStamp }}</mat-panel-title>
                                <mat-panel-description>{{ 'Loaded: ' + activity.page }}</mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>PID: 1</div>
                            <div>HID: 1</div>
                            <div>App: 340B Architect</div>
                            <div>Screen Size: 1280x720</div>
                            <div>Location: Atlanta, GA</div>
                            <div>Browser: Edge 122.0</div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="activity.action === 'ClickEvent'" class="card-full click-step" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{ activity.timeStamp }}</mat-panel-title>
                                <mat-panel-description>{{ 'User Clicked ' + activity.eventInfo }}</mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>PID: 1</div>
                            <div>HID: 1</div>
                            <div>App: 340B Architect</div>
                            <div>Screen Size: 1280x720</div>
                            <div>Location: Atlanta, GA</div>
                            <div>Browser: Edge 122.0</div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="activity.action === 'USER_LOGGED_IN'" class="card-full login-step" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{ activity.timeStamp }}</mat-panel-title>
                                <mat-panel-description>User Logged In</mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>PID: 1</div>
                            <div>HID: 1</div>
                            <div>App: 340B Architect</div>
                            <div>Screen Size: 1280x720</div>
                            <div>Location: Atlanta, GA</div>
                            <div>Browser: Edge 122.0</div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="activity.action === 'MH_Menu_State_SHOW' || activity.action === 'MH_Menu_State_HIDE'" class="card-full menu-step" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{ activity.timeStamp }}</mat-panel-title>
                                <mat-panel-description>{{ 'Menu Opened on ' + activity.page }}</mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>PID: 1</div>
                            <div>HID: 1</div>
                            <div>App: 340B Architect</div>
                            <div>Screen Size: 1280x720</div>
                            <div>Location: Atlanta, GA</div>
                            <div>Browser: Edge 122.0</div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="activity.action === 'Application_Change_To_340bArchitect' 
                                                    || activity.action === 'Application_Change_To_UserAccessManagement' 
                                                    || activity.action === 'Application_Change_To_MacroManager'" 
                                                    class="card-full app-change-step" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{ activity.timeStamp }}</mat-panel-title>
                                <mat-panel-description>{{ 'Application Changed To ' + activity.action.substring(activity.action.lastIndexOf('_') + 1)}}</mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>PID: 1</div>
                            <div>HID: 1</div>
                            <div>App: 340B Architect</div>
                            <div>Screen Size: 1280x720</div>
                            <div>Location: Atlanta, GA</div>
                            <div>Browser: Edge 122.0</div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="activity.action === 'PID_Change'" class="card-full menu-step" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{ activity.timeStamp }}</mat-panel-title>
                                <mat-panel-description>{{ 'PID Changed on ' + activity.page }}</mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>PID: 1</div>
                            <div>HID: 1</div>
                            <div>App: 340B Architect</div>
                            <div>Screen Size: 1280x720</div>
                            <div>Location: Atlanta, GA</div>
                            <div>Browser: Edge 122.0</div>
                        </mat-expansion-panel>
                    </mat-step>
                </mat-vertical-stepper>
            </div>
        </div>

        <div class="card-tall">
            <div class="card-header">User Info</div>
            <div>
                <div class="card-full" style="text-align: left;">
                    <div class="user-info-value">{{currentUser.firstName + ' ' + currentUser.lastName + ' (' + currentUser.uid + ')'}}</div><br>
                    <div class="user-info-value">Email: {{currentUser.email}}</div><br>
                    <div class="user-info-value">Phone Number: {{currentUser.phoneNumber}}</div>
                </div>
                <div class="card-full" style="text-align: left;">
                    <div class="user-info-label">Last Login</div>
                    <div class="user-info-value">{{currentUser.lastLogin | date:'MM/dd/yyyy HH:mm a'}}</div><br>
                    <div class="user-info-label">Job Title</div>
                    <div class="user-info-value">{{currentUser.jobTitle}}</div><br>
                    <div class="user-info-label">Last App</div>
                    <div class="user-info-value">{{currentUser.lastApp}}</div><br>
                    <div class="user-info-label">Last PID</div>
                    <div class="user-info-value">{{currentUser.lastPID}}</div><br>
                    <div class="user-info-label">Internal User</div>
                    <div class="user-info-value">{{currentUser.isMHIUser == 1 ? 'Yes': 'No'}}</div><br>
                    <div class="user-info-label">Display Height</div>
                    <div class="user-info-value">{{currentUser.displayHeight}}</div><br>
                    <div class="user-info-label">Macro Manager Favorite Page</div>
                    <div class="user-info-value">{{currentUser.macroManagerQuickAccessPageID ? currentUser.macroManagerQuickAccessPageID: 'None'}}</div><br>
                    <div class="user-info-label">340B Architect Favorite Page</div>
                    <div class="user-info-value">{{currentUser.architect340BQuickAccessPageID ? currentUser.architect340BQuickAccessPageID: 'None'}}</div><br>
                    <div class="user-info-label">Gateway Favorite Page</div>
                    <div class="user-info-value">{{currentUser.gatewayQuickAccessPageID ? currentUser.gatewayQuickAccessPageID: 'None'}}</div><br>
                </div>
            </div>
        </div>
    </div>
</div>