<div>
    <div class="header">
        <mat-icon class="back-button" (click)="back()">arrow_back</mat-icon>
        <span class="page-header">{{currentPage.pageName + ' Analytics'}}</span>
    </div>
    
    <div class="body">
        <div class="card">
            <div class="card-header">Page Info</div>
            <div>{{currentPage.ngPageURL}}</div>
        </div>

        <div class="card">
            <div class="card-header">Average Load Time</div>
            <div>{{pageAverageLoadTime + ' seconds'}}</div>
        </div>
    </div>
</div>