<div>
    <div class="header">
        <mat-icon class="back-button" (click)="back()">arrow_back</mat-icon>
        <span class="page-header">{{currentPage.pageName + ' Analytics'}}</span>
    </div>
    
    <div class="body">
        <div class="card">
            <div class="card-header">Page Info</div>
            <div>{{currentPage.ngPageURL}}</div>
        </div>

        <div class="card">
            <div class="card-header">Average Load Time</div>
            <div *ngIf="pageAverageLoadTime === ''">Not enough data available</div>
            <div *ngIf="pageAverageLoadTime !== ''">{{pageAverageLoadTime + ' seconds'}}</div>
        </div>

        <div class="card">
            <div class="card-header">Recent Errors</div>
            <div *ngIf="loadingRecentErrors" class="loading-holder">
                <div class="lds-facebook"><div></div><div></div><div></div></div>
            </div>
            <div *ngIf="!loadingRecentErrors">
                <div *ngIf="pageErrors.length === 0">No errors have been reported</div>
                <div *ngFor="let error of pageErrors">
                    <div style="word-break: break-all;">{{ error.timeStamp }}</div><br>
                    <div style="word-break: break-all;">{{ error.pageName }}</div><br>
                    <div style="word-break: break-all;">{{ error.errorMessage }}</div>
                </div>
            </div>
        </div>

        <div class="card" style="overflow: scroll;">
            <div class="card-header">Recent Activity</div>
            <div *ngIf="pageActivityList.length === 0">Not enough data available</div>
            <mat-vertical-stepper [linear]="false" #stepper>
                <mat-step *ngFor="let activity of pageActivityList">
                    <mat-expansion-panel *ngIf="activity.action === 'ClickEvent'" class="card-full click-step" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ activity.timeStamp }}</mat-panel-title>
                            <mat-panel-description>{{ 'User Clicked ' + activity.eventInfo }}</mat-panel-description>
                        </mat-expansion-panel-header>
                        <div>PID: 1</div>
                        <div>HID: 1</div>
                        <div>App: 340B Architect</div>
                        <div>Screen Size: 1280x720</div>
                        <div>Location: Atlanta, GA</div>
                        <div>Browser: Edge 122.0</div>
                    </mat-expansion-panel>
                </mat-step>
            </mat-vertical-stepper>
        </div>

        <div class="card">
            <div class="card-header">Favorited By</div>
            <div *ngIf="pageFavoritedBy.length === 0">No users have favorited this page</div>
            <div *ngFor="let user of pageFavoritedBy">
                <div style="word-break: break-all;">{{ user.firstName + ' ' + user.lastName }}</div><br>
            </div>
        </div>
    </div>
</div>