<div>
    <div class="header">
        <mat-icon class="back-button" (click)="back()">arrow_back</mat-icon>
        <span class="page-header">Errors</span>
    </div>
    
    <div class="body">
        <div class="card-50">
            <div class="card-header">Recent Errors</div>
            <div *ngIf="loading" class="loading-holder">
                <div class="lds-facebook"><div></div><div></div><div></div></div>
            </div>
            <div *ngIf="!loading">
                <div *ngFor="let error of lastWeekErrorsFull">
                    <div class="error-holder" (click)="openError(error)">
                        <div>{{ error.timeStamp + ' ' + (error.pageName == '/' ? '': error.pageName.split('#')[1]) }}</div>
                        <div>{{ error.errorMessage }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-50">
            <div class="card-header">Unusual Activity</div>
            <div>Fake this?</div>
        </div>
    </div>
</div>