<div>
    <div class="body">
        <div class="card-50">
            <div class="card-header">Recent Errors</div>
            <div *ngIf="loading" class="loading-holder">
                <div class="lds-facebook"><div></div><div></div><div></div></div>
            </div>
            <div *ngIf="!loading">
                <div *ngFor="let error of lastWeekErrorsFull">
                    <div class="card-full error-item" (click)="openError(error)">
                        <div style="margin-bottom: 8px;">{{ error.timeStamp + ' ' + (error.pageName === '/' || error.pageName.includes('jolokia') ? '': error.pageName) }}</div>
                        <div>{{ error.errorMessage }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-50">
            <div class="card-header">Unusual Activity</div>
            <div>Fake this?</div>
        </div>
    </div>
</div>